
article{
    margin: 20px 0;
padding: 20px;
border: 3px solid rgb(150, 59, 59);

}

.style-me1{
    color: red
}

#style-me2{
    color:blue
    
}

#style-me2.style-me1 {
    color: rgb(255, 59, 255);
}

.my-descendants-are-styled, .my-children-are-styled{
    background-color: red;
    
}

.box{
    margin: 30px
  
}

.box{
    padding: 20px;
    border-style: dotted; border-radius: 10px;
    width: 30cm
    
}
.box{
    box-sizing: border-box;
    overflow:hidden
}

.position-absolute {
position: absolute;
right:30px
}

.position-relative {
    position: relative;
    
    }

.position-sticky{
    position: sticky
}

.text-style{
    font-family: 'Barlow', sans-serif;
    letter-spacing: 4px;
    text-decoration: overline;
}

.calc-style{
    width: calc(100vw - 100px);
}