@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-image: radial-gradient(
    circle 1437px at -2% 103.3%,
    rgba(182, 32, 180, 1) 0%,
    rgba(162, 39, 182, 1) 10.5%,
    rgba(116, 55, 188, 1) 47%,
    rgba(98, 63, 177, 1) 57.1%,
    rgba(68, 78, 159, 1) 86.1%,
    rgba(57, 83, 152, 1) 100.2%
  );
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
}
.dice {
  display: block;
  position: relative;
  padding: 10px 180px;
}
h1 {
  margin-top: 5%;
  font-size: 36px;
  color: #fff;
}
h3 {
  color: #fff;
}
.img-dice {
  border-radius: 24px;
  box-shadow: 0px 15px 15px 2px #33333359;
}
.dice-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}
.row {
  display: flex;
}
.col-6 {
  width: 50%;
}
button {
  margin-top: 40px;
  cursor: pointer;
  height: 54px;
  border-radius: 4px;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 0;
  font-size: 22px;
}
button:hover {
  color: #5c42ad;
}
