* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  background: #363f88;
}

/* Header/Blog Title */
.header {
  padding: 50px;
  color: #f1f1f1;
  text-align: left;
  background-image: url(https://i.insider.com/5b92a58c04f162fa2c8b4ea5?width=700);
}

.header h1 {
  font-size: 30px;
}
.header h2 {
  font-size: 30px
  "margin: bottom 30px;"
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1d2249;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}