body { font-family: serif; background: #ddd; }
body { font-family: sans-serif; background: #ddd; }
p, div, h1, h2, h3, h4, h5 { margin: 0 } /* resetting default browser margins back to zero */
h1, h2, h3 { margin-bottom: 0.5em; }

section { max-width: 1200px; margin: 0 auto; background: #fff; padding: 1em; }

a { color: purple; } 
a:hover { text-transform: uppercase; cursor: grabbing }

#margin-example-1, #margin-example-2, #margin-example-3 { border: 1px solid #ddd; margin: 1em; padding: 1em; }
#margin-example-1, #margin-example-2, #margin-example-3 { border: 1px solid #ddd; margin: 1em; padding: 1em; } /* all the margin-example divs have the same border */

#margin-example-1 div { margin: 2rem 0; background: lavender; }
#margin-example-1 p { margin: 0.4rem 0 1.2rem 0; background: yellow; }
#margin-example-2 p { margin: 10px 0 20px 0; background: lightgreen; }
#margin-example-2 div { margin: 0; padding: 5px 0; background: lightblue}
#margin-example-3 div { margin: 40px 0 80px 0; background: lightgoldenrodyellow; font-family: Comfortaa, sans-serif; }

.banner { background: url(tent.jpg) no-repeat center center; height: 500px; position: relative; background-size: cover; }
.banner h1 { position: absolute; top: calc(50% - 35px); width: 100%; text-align: center; font-family: Comfortaa, sans-serif; color: #fff; font-size: 70px; }
.banner:before { content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.3) }
.banner:before { content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.3) }

.sports-icons { margin: 1em 0; }
.sports-icons ul { display: flex; flex-wrap: wrap; flex-direction: row; width: 400px; list-style: none; margin: 0; padding: 0; }
.sports-icons li { border: 1px solid #666; width: calc(25% - 2px); text-align: center; padding: 30px 0; transition: padding 0.5s }
.sports-icons li a { display: block; color: #190060 }
.sports-icons li .material-symbols-rounded { font-size: 40px; transition: font-size 0.5s } /* instead of changing instantly on hover, this transition draws it out over half a second */

.sports-icons li:hover { background: #eee; padding: 10px 0; }
.sports-icons li:hover a { color: #3500C6 } /* targets a tags inside the li when it's hovered */
.sports-icons li:hover .material-symbols-rounded { font-weight: bold; font-size: 60px; } 