#topBar-scoreBox{
    margin: 10px;
    background-image: url('assests/topBar-bckImage(1).png');
    color: #fff;
}

.round-edges {
    border-radius: 30px;
}

#content-holder {
    padding-top: 48px;
    padding-bottom: 48px;
}

#wcLogo {
    max-width: 200px;
}

#dutchFlag {margin-top: -20px; margin-bottom: -10px;}
#dutchName {padding-right: 5px; font-weight: bold; text-transform: uppercase;}
#nedFlagIcon {padding-right: 25px;}

#argentinaFlag {margin-top: -20px; margin-bottom: -10px;}
#argName {padding-left: 20px; font-weight: bold; text-transform: uppercase;}
#argFlagIcon {padding-left: 25px;}

#dutchScore {
    background-color: #ebcc34;
    color: #000;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 25px;
    font-size: 50px;
    font-weight: bold
}

#argScore {
    background-color: #ebcc34;
    color: #000;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 25px;
    font-size: 50px;
    font-weight: bold
}

.nav-pills {
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #b01e65;
}

.nav {
    --bs-nav-link-color: #56042C;
    --bs-nav-link-hover-color: #b01e65;
    --bs-nav-link-font-weight: ;
}

.oranje {
    background-color: orange;
}

.oranje-player-card {
    background-color: #fc6500;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.arg-player-card {
    background-color: #4285F4;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.argDMFspacefiller {
    height: 58.6666666667px;
}

.player-name-text {
    padding-top: 10px;
    text-align: center;
}

.bluey {
    background-color: #70bcfa;
}

.nameTS {
    margin-top: 10px;
}

#nedTeamSheet, #argTeamSheet {
    padding-bottom: 20px;
}

.nedTSField {
    margin-bottom: 10px;
}

.field {
    background: green;
    width: 100%;
    height: 880px;
}

.playerSection {
    height: 20%;
    width: 100%;
    color: #fff;
}

.playerSection-2 {
    height: 26.66666666667%;
    width: 100%;
    color: #fff;
}

.lineups-wrapper {
    margin: 0;
    padding: 0;
}