article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}

.style-me1 {
    color: red;
}

#style-me2 {
    color: blue;
}

.style-me1#style-me2 {
    color: rgb(201, 51, 201);
}

.my-children-are-styled>p {
    background-color: red;
}

.my-descendants-are-styled>div,
.my-descendants-are-styled>p {
    background-color: red;
}

.box {
    margin: 30px 10px;
    width: 400px;
    border: 2px solid red;
    border-radius: 100%;
    outline: 5px solid blue;
    color: red;

    /* background image */
    background-image: url("../assets/images/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 50px;
}

body>article:nth-child(3)>div:nth-child(2) {
    height: 100px;
    overflow: scroll;
}

body>article:nth-child(3)>div:nth-child(3) {
    height: 100px;
    overflow: scroll;
}

body>article:nth-child(3)>div:nth-child(4) {
    height: 300px;
    overflow: scroll;
}

.position-absolute {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: red;
}

.position-relative {
    position: relative;
    background-color: green;
}

.position-sticky {
    position: sticky;
    background-color: #2da3d1;
    top: 100px;
    bottom: 100px;
    font-size: 20px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.text-style {
    font-family: 'Montserrat', sans-serif;

    font-size: 23px;
    font-weight: 400;
    color: red;
    text-align: center;
    word-spacing: 2.5px;
    text-transform: capitalize;
}

/* Styling links */

a:link {
    color: aqua;
    font-size: 30px;
}

a:hover,
a:visited:hover {
    background-color: black;
    color: white;
}

a:visited {
    color: purple;
}

/* Calc */
.calc-style {
    width: (100vw - 100px);
    background-color: aquamarine;
}