body {
    overflow:scroll;
    height: 100vh;
    margin: 0;
}

.heading {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.background-1 {
    background-color: #32cfd1;
}

.background-2 {
    background-color: #a5fafc;
}

.top-fullname {
    color: white;
    max-width: 75%;
    padding: 20px;
    max-height: 15%;
    height: 100%;
    width: 100%;
    left: 50%;
}

.top-fullname h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-size: 55px;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.top-fullname h3 {
    font-family: 'Montserrat', sans-serif ;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;

}

a:hover {
    color: white;
    -moz-transform:scale(1.4,1.4);
    -webkit-transform:scale(1.4,1.4);
    transform:scale(1.4,1.4);
    transition: all 0.5s;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    max-height: 15%;
    padding: 20px;
    padding-top: 0px;
    height: 100%;
    width: 100%;
}

.fa-brands {
    color: black;
    font-size: 40px;
    text-decoration: none;
}

.m {
    margin: 15px;
}

.infobar {
    width: 100%;
    max-width: 20.83%;
    height: 1080rem;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.profile-image {height: 250px; border-radius: 50%; border: #fff 10px solid; position: absolute; left: 20%;}
