table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table { margin: 1em 0; }
td, th { padding: 4px; }

nav { background: #004; color: #fff; display: block; font-family: sans-serif; }
nav a { color: #fff; padding: 1em; display: inline-block; text-decoration: none; }

article, section { padding: 2em; }
.first, .third { background: #eee; }

.form-section { padding: 1em; border-bottom: 1px solid #ddd; margin-bottom: 1em; }

#profile-form { border: 1px solid #ddd; }

footer { background: #004; color: #fff; display: block; font-family: sans-serif; text-align: center; padding: 0.5em; }
