* {
    box-sizing: border-box;
  }
  
  .portrait{
    box-sizing: border-box;
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    text-align: right;
    width: 50%;
  }
 
  .main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 30px;
    line-height: 30px;
    float: center;
    max-width: 100%;
    padding: 50px;
  }
  .flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
    gap: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .flex-1, .flex-2, .flex-3, .flex-4{
    background-color: #ffffff;
    height:5cm;
    padding: 10px;
    flex: 50%;

  }
  .flex-1 {
    border-bottom: 0.5cm solid rgb(255, 142, 160);
    box-shadow:0 0 10px 7px rgb(170, 169, 169)
  }
  
  .flex-2 {
    border-bottom: 0.5cm solid rgb(142, 161, 255);
    box-shadow:0 0 10px 7px rgb(170, 169, 169)
  }

  .flex-3 {
    border-bottom: 0.5cm solid rgb(142, 255, 142);
    box-shadow:0 0 10px 7px rgb(170, 169, 169)
  }

  .flex-4 {
    border-bottom: 0.5cm solid rgb(255, 253, 142);
    box-shadow:0 0 10px 7px rgb(170, 169, 169)
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    
    .menu, .main, .right, .flex-container {
      width: 100%;
    }

  }
    @media only screen and (max-width: 800px) {
          .portrait{
        width: 50%;
      }
  }
  