html {
    font-family: 'Island Moments', cursive;
    font-family: 'Montserrat', sans-serif;
}

a { text-decoration: none; color: black;}
a:hover, a:active { text-decoration: none; color:blue }

.flex-container {
   display: flex;
   flex-direction: column;
   max-width:fit-content;
   text-align: right;
   width: 50%;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}

ul {
    list-style-type: none;
}

.bg-image {
    height:100vh;
    background-image: url(portfolio-images/bgimage.jpg);
    background-size:cover;
    position:relative;
}
.main-image {
    border-radius: 50%;
}

.main-title {
    font-size: 4.5rem;
}
.main-desc {
    font-size: 1.5rem;
}
.main-text {
    display: flex;
    flex-direction: column;
    max-width:fit-content;
    text-align: center;
    width: 50%;
    position:absolute;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
}
.headings {
    font-size: large;
}

.icons a + a {
    padding-left: 2rem;
}

.icons {
    padding: 60px;
}

.exterior-container {
    margin-left: 0% auto;
}

/* Responsive Web Design Below */

@media only screen and (max-width:400px) {
    .main-text {
        width:fit-content;
        
    }
}