* {
  box-sizing: border-box; /* Means that it will include margin and padding in sizes*/
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  margin: 10px;
}

h2, h3, a {
  color: black;
}

.name {
  margin: 0;
  font-size: 1.5em;
  margin-top: 0;
}

.topnav {
  margin-top: 3px;
}

.name a,
.topnav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}

.topnav a {
  color: navy;
}

.topnav a:hover {
  color: white;
}

.header {
  padding-top: .25em;
  padding-bottom: .25em;
  border: 2px solid grey;
  background-color: white;
  text-align: center;
}

footer {
  background-color: darkgrey;
  color: white;
  font-size: smaller;
  text-align: center;
  padding: 5px;
}


#about {
  background-color: grey;
  padding: 2em;
}

#portfolio {
  background-color: lightcyan;
}

#contact {
  background-color: darkcyan;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}


.topnav a:hover {
  background-color: whitesmoke;
  color: black;
}

.topnav a.active {
  background-color: darkcyan;
  color: white;
}



#profile-pic {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  justify-content: center;
}

/* Media queries for displaying properly on different screen sizes*/

/* This makes the menu topnav condense on a smaller screen*/
@media (min-width: 769px) {
  .header,
  .topnav {
    display: flex;
  }
  .header,
  .topnav {
    flex-direction: column;
    align-items: center;
        margin: 0 auto;
        max-width: 1150px;
      }
}

@media (min-width: 1025px) {
  .header,
  .topnav {
    flex-direction: row;
    justify-content: space-between;
  }
}

