@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.form-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
