.topnav {
    overflow: hidden;
    background-color: #1976d2;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .column {
    float: left;
    margin-top: 10px;
    padding: 10px;
    height: 500px; 
    width: 400px;
    background: #5c97d2;
    border-radius: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img {
    border-radius: 50%;
    height: 150px;
    width: 160px;
  }
.body {
  float: right;
  margin-right: 2cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3cm;
}


