*{box-sizing: border-box;margin: 0;}
body{ font-family: sans-serif; background: lightblue; margin: 0;}
h2{color: darkblue;}

header{ background-color:blue; 
padding: 20px;
text-align:center;
color:white;}
nav{
    float: left;
    width: 30%;
    height: 300px;
    background-color: gold;
    padding:20px;
}
article{
    background-color: whitesmoke;float: left; width: 70%; padding: 20px;
}
aside{ clear: both;}
.price{}
.menu-item { font-style: italic;}
#test-form{background: white; padding: 20px;}