.box {
    background-color: rgb(255, 0, 43);
    width: 100px;
    height: 100px;
  }
  
  .box {
    animation: 3s linear 1s infinite alternate slide;
    
  }
  
  @keyframes slide {
    0% {
    margin-top: 0%;
      transform: translate();
    }
    100% {
    margin-top: 20%;
      transform: translate();
      background-color: blue;
    }
  }