body {
    background-color: rgb(72, 110, 205);
  }


h1 {
    font-family: consolas;
    border: 2px solid #ffffff;
    border-radius: 45px;
    border-style: dotted;
    box-sizing: border-box;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  

  h2 {text-align: center;}
  h2 {
    font-family: consolas;
    font-size: x-large;
    border: 7px solid #ffffff;
    border-style: double;
    box-sizing: border-box;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {text-align: left;}
  h3 {
    font-family: consolas;
    font-size: x-large;
    margin-left: 150px
  }
  h4 {text-align: right;}
  h4 {
    font-family: consolas;
    font-size: x-large;
    margin-right: 150px
  }
  button {
    font-family: consolas;
    font-size: x-large;
    background-color: rgb(180, 236, 255);
    border-radius: 6px;
    border: none;
    color: rgb(59, 92, 200);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    margin: 10px 200px 10px 530px; ;
  }
  #placeholder {
       height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 10px solid rgb(59, 49, 199);
    border-radius: 10px;  
    font-size:80px;
    margin: 10px 200px 0px 520px;
  }
  result{
    font-family: consolas;
    margin: auto

  }