* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size:35px;
    color: white;

}

nav {
    float: left;
    width: 30%;
    background: gold;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: whitesmoke;
}

aside {
    clear: both;
}
footer {
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
    
}