.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.componentBox { border: 1px solid #aaa; margin: 1em; padding: 1em; text-align: center; background: #efefef; }
.NavBar { background: #0E2F38; color: #eee; }
.NavBar ul { display: flex; list-style: none; justify-content: center; }
.NavBar ul li a { padding: 1em; color: #eee; text-transform: uppercase; display: inline-block; text-decoration: none; }
.NavBar ul li a.active { font-weight: bold; }

.center {
  text-align: center;
}

.Badge {
  display: flex;
  align-items: center;
  justify-content: center;
}