* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: dodgerblue;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    background: gold;
    padding: 20px;
    height: 300px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: whitesmoke;
    height: 300px;
}

aside {
    clear: both;
}

footer {
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
}

h1 {
    color: whitesmoke;
}

h2 {
    color: darkgreen;
}

.form {
    color: navy;
    background-color: pink;
}

input[type=submit] {
    padding: 5px 15px;
    margin: 5px;
    background: rgb(166, 165, 161);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;

}

.table {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 10px;
    border-style: double;
    text-align: left;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 50px;
    border-radius: 8px;
    border-color: red; /* this is just so I can see if it works */
}