@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
body {
    background-image: url("IMG/code.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.866);
}

h2{
    background-color: rgba(0, 0, 0, 0.866);

}

p{
    font-size: 50px;
    color: aliceblue;
    background-color: rgba(10, 0, 0, 0.866);
}

.me{
    color: aliceblue;
    font-size: 20px;
    text-align: right;
    background-color: rgba(10, 0, 0, 0.866);

}
.ex{
    color: aliceblue;
    font-size: 20px;
    text-align: left;
    background-color: rgba(10, 0, 0, 0.866);

}
.flexbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    justify-content:right;
    align-items: right;
    width: 100%;
    border-bottom: 2px solid #f27a30 ;}
    
    .menu{
        color: aliceblue;
        text-decoration: none;
        font-size: 13px;
        list-style: nome;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
.smallflexbox{
    width: 70%;
    height: 90%;  
    padding: 50px; 
}

.navbar a:hover {
    background-color: #f27a30 ;
  }

#thiago{
    border-radius: 10px;
    filter: grayscale(15%);
    float:right; width: 200px; height: 200px;
    }

    footer{
        margin-top: 100px;
        height: 200px;
        text-align: center;
        border-top: 2px solid #f27a30 ;
    }

#whats {
    width: 60px ; 
    height: 60px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

#whats:hover {
    background-color: #ffffff ;
  }
.footer{
    padding: 50px;

}

#email{
    border-radius: 10px;
    width: 50px ; 
    height: 50px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

    @media screen and (max-width:1000px){
        .navbar{
            flex: 100%;
            margin: 5%;
            text-align: center;
        }
           
         h1{
             flex: 100%;
             margin: 5%;
             text-align: center;
         }
         
         h2{
            flex: 100%;
            margin: 5%;
            text-align: center;
        }
     
        p{
     
             text-align: center;
         }

        .footer {
            flex: 100%;
         margin: 5%;
         text-align: center;
        }

     
         #thiago{
             flex: 100%;
             margin: 5%;
             text-align: center;
         }

     
     }